
<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only color="royal" (click)="demo()">
        <ion-icon name="bicycle"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Geolocation</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="start()" > 
        <ion-icon name="locate"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="stop()" >
        <ion-icon name="hand"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background" scroll="false">
    <ion-searchbar
    [(ngModel)]="myInput"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)">>
  </ion-searchbar>
  <ion-list *ngIf="showList">
      <ion-item *ngFor="let item of listResults">
        {{ item }}
      </ion-item>
    </ion-list>
  <ion-card text-center class="card">
      <div class="or-label">
        <p class="welcome">Welcome</p>
        <p class="context">Get list location nearby</p>
      </div>
      <button ion-button color="light" (click)="goToMyPage()">Go</button>
    </ion-card>
  
</ion-content>

